* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

/* Navbar */
header {
  background: #020617;
  padding: 15px 50px;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-left: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

/* Hero */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1e293b, #020617);
}

.hero span {
  color: #38bdf8;
}

.btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: #38bdf8;
  color: #000;
  text-decoration: none;
  border-radius: 5px;
}

/* Sections */
.section {
  padding: 60px 20px;
  text-align: center;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
}

/* Skills */
.skills {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}
